@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Onest", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Styles de la navbar */
.navbar {
  display: flex;
  justify-content: space-between; /* Sépare les éléments à gauche et à droite */
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
}

.navbar1 {
  display: flex;
  align-items: center;
  justify-content: center;
}


.logo {
  display: flex;
  align-items: center;
}


.logo img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  
}






.navbar3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
}

.btn-settings {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #000000;
  color: #fff;
  cursor: pointer;
  position: relative;
}

.material-symbols-outlined {
  font-size: 24px;
  transition: transform 0.4s;
}

.rotate-30 {
  transform: rotate(30deg);
}

.plus-icon:hover {
  border-radius: 25px;
  transform: rotate(90deg);
  transition: transform 0.4s;
}

.dropdown-menu {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.4s, transform 0.4s ease;
  position: absolute;
  top: 50px;
  right: 0;
  min-width: 150px;
  height: 30vh;
  z-index: 1000;
  text-align: end;
  visibility: hidden;
}

.dropdown-menu.active {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.dropdown-menu-btn {
  margin-top: 15px;
  display: block;
}

.dropdown-menu a {
  padding: 10px 13px;
  text-decoration: none;
  color: #ffffff;
  background-color: #000000;
  border-radius: 25px;
  transition: all 0.4s;
}

.dropdown-menu a:hover {
  background-color: rgb(45, 45, 45);
}

.contact-form-container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form input {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.input-field {
  width: 180px;
  padding: 10px;
  font-size: 16px;
  border-radius: 25px;
  border: 2px solid rgb(48, 48, 48);
  margin-right: 10px;
  transition: all 0.4s ease;
}

.input-field:focus {
  border-color: rgb(174, 174, 174);
  outline: none;
}

.btn-send {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #000000;
  color: #fff;
  cursor: pointer;
  transition: all 0.4s;
}